.toggleButton {
  width: 50px;
  height: 50px;
  border: 2px solid hsl(0deg, 0%, 5%);

  /*
    HACK: Margin on an outer bound like this is
    a little gross, but we haven't seen the tools
    to deal with it yet!
  */
  margin-right: 4px;
  background: white;
  border-radius: 1px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 700;
  outline-offset: 2px;
}

.toggleButton[aria-pressed='true'] {
  border-width: 6px;
  background: hsl(0deg, 0%, 5%);
  color: white;
}
