.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
}

.header {
  width: 65%;
  padding-bottom: 64px;
}

.title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.description {
  margin: 0;
  font-size: 1.25rem;
}

.characterWrapper {
  position: fixed;
  top: 96px;
  bottom: 32px;
  left: calc(50% + 144px);
  min-height: 500px;
}

.controlColumn {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .characterEditor {
    padding-bottom: 128px;
  }

  .header {
    width: auto;
    padding-bottom: 256px;
  }

  .characterWrapper {
    position: absolute;
    z-index: -1;
    top: auto;
    left: 0;
    height: 500px;
    margin-bottom: -320px;
  }

  .controlColumn {
    position: relative;
    width: auto;
    padding-right: 32px;
    padding-left: 32px;
    margin-right: -32px;
    margin-left: -32px;
    overflow-x: auto;
    white-space: nowrap;
  }
}
